			html {
				scroll-behavior: smooth;

			}

			body {
				position: relative;
			}

			ol {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			ol li{
				margin-bottom: 25px;
				font-weight: bold;
			}

			nav {
				position: sticky;
				top: 2rem;
				align-self: start;
			}

			.section-nav {
			    margin-top: 2rem;
			    padding-left: 0;
			    border-right: 5px solid
			#efefef;
			}

			.section-nav a {
			    text-decoration: none;
			    display: block;
			    padding: .125rem 0;
			    color: #ccc;
			    transition: all 100ms ease-in-out;
			}

			.section-nav a:hover,
			.section-nav a:focus {
			    color: black;
			}

			* {
			    box-sizing: border-box;
			}